@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');

.weather {
	display: flex;
	gap: 20px;
	flex: 2;

	.generaly {
		background-color: rgba(31, 31, 31, 0.331);
		width: 70%;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		.tempature {
			color:white;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 6rem;
			font-weight: bold;
			width: 48%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			p{
				font-size: 21px;
				color: rgba(255, 255, 255, 0.505);
			}
			h4{
				font-size: 26px;
			}
		}
		.weatherdisplay {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 48%;

			.clock {
				color: white;
				font-family: 'Montserrat', sans-serif;
				display: flex;
				height: 19%;
				font-size: 60px;
			}
		}
	}

	.secondary {
		width: 30%;
		display: flex;
		flex-direction: column;
		background-color: rgba(31, 31, 31, 0.331);
		.secondaryindicators{
		display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
		gap: 10px;
    width: 83%;
    height: 45%;
			h3{
				display: flex;
				font-weight: 600;
				font-size: 20px;
				color: white;
				font-family: 'Montserrat', sans-serif;
				gap: 6rem;
				p{
					display: flex;
					justify-items: flex-end;
				}
			}
		}
		.secondaryinfo {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			height: 50%;
			h1{
				
				color: white;
				font-size: 20px;
				color: white;
				font-family: 'Montserrat', sans-serif;
			}	
			p{
				color: white;
				font-size: 20px;
			}
			/* .textinfo{
				display: flex;
				p{
					font-size: 20px;
					/* width: 350px; */
					color: white;
					font-family: 'Montserrat', sans-serif;
				} 
			}
		}
