@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.weather {
	display: flex;
	gap: 20px;
	flex: 2;

	.generaly {
		background-color: rgba(31, 31, 31, 0.331);
		width: 70%;
		display: flex;
		justify-content: space-between;
		gap: 10px;

		.tempature {
			width: 48%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}

		.weatherdisplay {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 48%;

			.clock {
				color: white;
				font-family: 'Montserrat', sans-serif;
				margin: 1rem 1rem;
			}
		}
	}

	.secondary {
		width: 30%;
		background-color: rgba(31, 31, 31, 0.331);
	}
}
