@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.weather{
  .generaly{
    background-color: rgba(31, 31, 31, 0.331);
  }
  .secondary{
    background-color: rgba(31, 31, 31, 0.331);
  }
.weather {
	.generaly {
		background-color: rgba(31, 31, 31, 0.331);
	}
	.secondary {
		background-color: rgba(31, 31, 31, 0.331);
	}
}
.weather {
	display: flex;
	gap: 20px;
	flex: 5;

	.generaly {
		background-color: rgba(31, 31, 31, 0.331);
		width: 70%;
		.weatherdisplay {
			float: right;
			margin: 0rem 6rem;
			.clock{
				color: white;
				font-family: 'Montserrat', sans-serif;

			}
		}
	}
	.secondary {
		width: 30%;
		background-color: rgba(31, 31, 31, 0.331);
	}
}
}