.footer {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}

.card {
	height: 100%;
	border: 3px solid gray;
	background-color: rgba(31, 31, 31, 0.331);
	width: 14%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
